:root {
    --FM: Gilroy-Medium;
    --FB: Gilroy-Bold;
    --FSM: Gilroy-SemiBold;
    --MColor: #FFFFFF;
    --BColor: #0065FE;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
input{
    color: var(--BColor);
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
}
/* -----------------> TYPOGRAPHY CUSTOMIZE <------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--FB);
}

p,
li,
a {
    font-family: var(--FM);
}

button {
    font-family: var(--FSM);
transition: transform 0.3s ease-in-out 0s;
}
button:hover{
    transform: translateY(-10px);
}

a:visited {
    color: var(--BColor);
}

a {
    text-decoration: none !important;
    color: black;

}
/* -----------------> FLEX <------------ */
.flex {
    display: flex;
}
/* ------------------------> HOME SECTION <---------------------*/
#home-header {
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-end;
}
 ul li:nth-child(6) {
     margin-left: 3rem;
 }

#home-header h2,
#home-header span,
#home-header img {
    margin-left: -10px;
    padding: 0;
    color: var(--BColor);
}

#home-header li {
    margin-top: 1rem;
    list-style: none;

}

#home-Vertical-line {
    background-color: var(--BColor);
    padding: 0.5px;
    width: 0.2rem;

    height: 1.5rem;
}
#home-main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40rem;
    text-align: center;
    padding: 0 1rem;
}

.home-container h3 {
    font-size: 1.7rem;
    line-height: 3.8rem;

}
.home-container{
    background: linear-gradient(to bottom, rgba(255, 255, 0, 0.074), transparent);
    padding: 1rem;
}
.home-container2{
margin-top: 1rem;
}
.home-container p {

    padding: 0 0.5rem;
    margin: 0 auto;
    font-size: 0.7rem;
    line-height: 1.5rem;
    width: 30.1rem;


}

.home-btn {
    color: #fff;
    width: 142px;
    height: 44px;
    border: none;
    padding: 0.9rem 1rem;
    background: #0065FE;
    border-radius: 100px;
}

/* FIGURE CONTAINER */
figure {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    z-index: 1;

}

.figure-image1 {
    width: 10rem;
    margin-left: -20rem;
    position: relative;
}

.figure-image2 {
    width: 15rem;
    padding-top: 1.5rem;
    margin-left: 2rem;

}

.figure-container {
    background-color: #DDE6ED;
    position: absolute;
    border: 1px solid #0066fe5d;
    border-radius: 24px;
    width: 32rem;


}

.figure-container p {
    font-size: 0.8rem;
    text-align: center;
    padding: 0.8rem 5.5rem;
    padding-bottom: 1.3rem;
}
/* ------------------------>ANALYSTIC SECTION <------------------- */
#analytics-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #F9FBFD;
    margin: 0 auto;
    padding: 2rem 0;
    margin-bottom: 5rem;
}

.hug {
    margin: 0;
    width: 88px;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hug1 {
    width: 16.5rem;
    margin-right: 10rem;
    font-family: Gilroy-Bold;
    font-size: 1rem;
}

.hug p {
    font-family: Gilroy-Medium;
    font-size: 0.6rem;
    width: 5.5rem;
    margin-top: 0.5rem;
}

.hug h4 {
    margin-top: 0;
    font-family: Gilroy-SemiBold;
    font-size: 1.5rem;

}

.hug1 span {
    color: #005AE2;
}

#analytics-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: 0 auto;
    margin-bottom: 4rem;


}

.analytics-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 23.5rem;
    margin: 0 auto;
    margin-left: 12rem;
    margin-top: -11rem;
}

.analytics-main h3 {
    font-family: Gilroy-Medium;
    font-size: 2.4rem;
    line-height: 32px;
    padding-bottom: 0.5rem;
}

.analytics-main p {
    width: 21.3rem;
    font-family: Gilroy-Medium;
    font-size: 0.92rem;
    line-height: 24px;
    padding: 0 0.5rem;

}

#analysticy-aside {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 40rem;
    gap: 2rem;

}

.analytics-aside {
    width: 18.8rem;
    font-family: Gilroy-Medium;
    font-size: 0.88rem;
    line-height: 24px;
}

.analytics-aside h4 {
    font-family: Gilroy-Medium;
    font-size: 1.7rem;
    line-height: 28px;
    padding: 1rem 0 0.5rem 0;


}
/* ------------------------> PRICING SECTION <---------------------*/

/* Pricing Header Section Customise */
#pricing-header {
    width: 576.1px;
    height: 108px;
    margin: 0 auto;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 25rem;   
}

.vertical-line {
    width: 0.5rem;
    height: 48px;
    background: linear-gradient(180deg, #112232 0%, rgba(77, 107, 136, 0) 100%);
}

.header-content {
    width: 40rem;
    margin-top: 2rem;
    padding: 0;
    margin-left: -7rem;
}

#pricing-header h1 {
    font-size: 1.8rem;
    line-height: 48px;
    text-align: center;
    
}

#pricing-header h1 span {
    color: #005AE2;
}

#pricing-header p {
    font-size: 0.75rem;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 32rem;
    padding-left: 7rem;
}

/* Pricing Main Section Customise */

#pricing-main {
    margin: 0 auto;
    margin-top: 2rem;
    width: 53rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#pricing-main p {
    padding: 1.3rem 0;
}

#pricing-main h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.box {
    width: 25rem;
    height: 21.8rem;
    background-color: yellow;
    border-radius: 12px;
}

.basic-box {
    border-radius: 1rem 0 0 1rem;
}

.team-box {
    border-radius: 0 1rem 1rem 0;
}

.professional-box {
    width: 27rem;
    height: 29.19rem;
    background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.05));
}

.basic-box,
.team-box {
    background: #ffffff;
    border: 0.4px solid #005ae2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.basic-content,
.professional-content,
.team-content {
    padding-left: 2rem;
}

.professional {
    margin-top: 3.2rem;
    color: white;
}

li {
    list-style: none;
    padding-bottom: 1.2rem;
}

img {
    padding-right: 0.5rem;
}

/* Pricing Footer button customize */

.pricing-footer {
    margin: 0 auto;
    margin: 2rem 0;
    display: flex;
    justify-content: center;

}
.box li{
    font-size: 0.65rem;
}
.custom-btn,
.select-btn {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 10rem;
    height: 2.5rem;
    border: none;
    font-size: 0.8rem;
    line-height: 0.6rem;
    border-radius: 100px;
}

.custom-btn {
    background: white;
    color: #005AE2;
    border: 1px solid #0065FE;

}

.select-btn {
    color: white;
    background: #0065FE;
}

/* --------------------------> LOCATION SECTION <------------- */
#location-section {
    display: flex;
    background: url(image/backgr.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    overflow: hidden;
    height: 25rem;
    position: relative;
}

.container {
    margin: 4rem 0;
    width: 32rem;
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    margin-left: -18rem;
    color: #005AE2;
}

#location-section input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--BColor);
    font-size: 0.7rem;
    font-family: var(--FM);   
}

#location-section button {
    height: 3rem;
    width: 16rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    padding: 0.9rem;
    background: var(--BColor);
    border-radius: 100px;
    color: #ffffff;
    font-size: 0.8rem;
   
}

#location-section p {
    font-size: 0.7rem;
    color:var(--BColor);
    padding-top: 1rem;
    font-family: var(--FM);
}

/* ---------------------------> FAQ SECTION <--------------- */
#faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2.35rem 0;
    position: relative;

}

.faqContainer-image {
    position: absolute;
    top: 3%;
    left: -18rem;

}

.faqHeader-content {
    margin: 1.35rem 0 1.5rem 0;
    margin-top: -2.5rem;
    padding: 0 1rem;
    font-size: 1rem;

}

/* Faqs Article customise */
article {
    padding: 0.9rem 0;
    width: 45rem;
    border-top: 1px solid gray;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

article:first-child {
    border: none;
    
}

.adjustPs-first {
    width: 40rem;
}

.first-article p {
    font-size: 1.3rem;
    line-height: 32px;

}

.first-article p:last-child {
    padding-top: 0.5rem;
    font-size: 0.8rem;

}

.adjustPs {
    width: 35rem;
}

article .fa-plus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -1rem;
    width: 45rem;
}

.last-article {
    border-bottom: 1px solid gray;
}

/* ---------------------------> REVOLUTION SECTION <--------------- */
#revolution-section {
    display: flex;
    background: url(image/backgr.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    overflow: hidden;
    height: 25rem;
    position: relative;

}

.revolution-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 159px 0;
    width: 26rem;
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 2rem;
}

.revolution-btn {
    margin: 2rem 0;
    padding: 12px 24px;
    width: 200px;
    height: 48px;
    background: #005AE2;
    border-radius: 100px;
    border: none;
    font-size: 1rem;
    line-height: 0.7rem;
    color: #ffffff;
}

/* ---------------------------> FOOTER SECTION <--------------- */
#footer-section {
    display: flex;
    align-items: center;
    position: relative;
}

.footer-main {
    margin-top: -18rem;
    margin-left: -16rem;
}

.FooterLeftSVG {
    margin-top: 2rem;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-main .fa-brands {
    padding: 2.5rem 1rem;
    width: 1.4rem;
}

.footer-links img {
    margin-right: 0.1rem;
}

.footer-Vertical-line {
    width: 1.5px;
    height: 1.4rem;
    background-color: #112232;
    margin-right: 0.5rem;
}

.Footer-Aside-Container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 45rem;
    position: relative;
    overflow: hidden;
    margin-left: 5rem;
}

.Footer-Aside-Container h4 {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
}
.Footer-Aside-Container p {
    font-size: 0.8rem;
}

.Footer-Aside-Container div {
    width: 10rem;
    font-size: 0.4rem;
    line-height: 1rem;
}

.FooterRightSVG {
    position: absolute;
    top: 60%;
    left: 74%;
    width: 20rem;
    overflow: hidden;
}

#attribution {
    position: absolute;
    bottom: 1rem;
    right: 7rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--FM);
        font-size: 0.8rem;
}

.attribution-Vertical-line {
    background-color: #112232;
    padding: 0.5px;
    width: 0.2rem;
    aspect-ratio: 1;
    margin-right: 0.5rem;
}